<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <% if (user) { %>
      <li><a href="/users/logout">Logout</a></li>
      <li><a href="/recipes/search">Search recipes</a></li>
      <li><a href="/recipes/my-recipes">Saved recipes</a></li>
      <li><a href="/recipes/api-recipes">API recipe search</a></li>
    <% } else { %>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
    <% } %>
  </ul>
  </nav>