<!doctype html>
<html>
  <head>
    <title>About <%= webData.webName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %> <!-- Include Navbar Partial -->

    <h1>About <%= webData.webName%></h1>
    <p>We sell all sorts of books and nothing else!</p>
  </body>
</html>