<!doctype html>
<html>
  <head>
    <title>Welcome to <%= webData.webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %> <!-- Include Navbar Partial -->

    <h1>Welcome to <%= webData.webName%></h1>
    <p><a href="/about">About <%= webData.webName%></a></p>
    <p><a href="/users/login">Login</a></p>
    <p><a href="/users/register">Register</a></p>
    <p><a href="/users/profile">Api recipe key</a></p>
    <p><a href="/recipes/search recipes">Search recipes</a></p>
    <p><a href="/recipes/my-recipes">Saved recipes</a></p>
    <p><a href="/users/logout">Logout</a></p>
    <p><a href="./recipes/api-recipes">API recipe search</a></p>

  </body>
</html>