<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Recipes</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- Include Navbar Partial -->

  <h1>My Saved Recipes</h1>
  <ul>
    <% if (recipes.length > 0) { %>
      <% recipes.forEach(recipe => { %>
        <li>
          <h2><%= recipe.title %></h2>
            <p><strong>Ingredients:</strong></p>
            <ul>
              <% recipe.ingredients.replace(/["[\]]/g, '').split(',').forEach(ingredient => { %>
              <li>&#8226; <%= ingredient.trim() %></li>
              <% }); %>
            </ul>
            <p><strong>Instructions:</strong> <%- recipe.instructions %></p>
        </li>
      <% }); %>
    <% } else { %>
      <p>You haven't saved any recipes yet.</p>
    <% } %>
  </ul>
  <a href="/recipes/api-recipes">Add a Recipe</a>
</body>
</html>