<!DOCTYPE html>
<html>
<head>
    <title><%=shopData.shopName%></title>
</head>
<body>
    <%- include('partials/navbar') %> <!-- Include Navbar Partial -->
    
    <h1>Register</h1>
    <form action="/users/register" method="POST">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>